:root {
    --bg-Color: #0c0e22;
    --layout-Bg-Color: #2b2f42;
    --logo-Color: rgb(221, 158, 22);
    --text-color: white;
}


/* Layout style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--bg-Color);
}

body {
    color: var(--text-color);
}

#layout-container {
    width: 120rem;
    height: 67.5rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 2.5fr 10fr 3fr;
    padding: 1rem;
    background-color: var(--bg-Color);
    gap: 1rem;
}

/* Sidebar layout */

#sidebar-container, #main-container, #notes-container {
    border-radius: 1rem;
    background-color: var(--layout-Bg-Color);
    padding: 2.5rem;
}

/* #sidebar__container {
    padding: 2.5rem;
} */

#app-logo {
    color: var(--logo-Color);
}

#sidebar {
    display: flex;
    height: 12.5rem; 
    flex-direction: column;
    justify-content: space-between;
    text-align-last: left;
    margin-top: 2.5rem;
    gap: 0.5rem;
}

.btn {
    width: 6rem;
    background: transparent;
    cursor: pointer;
    border: none;
    color: var(--text-color);
}

#my-projects {
    margin: 0.75rem 0 0 0;
}

/* Main content layout */

/* Note content layout */

#notes-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#new-note-btn {
    width: 50%;
    background: transparent;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    align-self: center;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
}

#new-note-btn:hover {
    background-color: var(--logo-Color);
    transition: 0.5s;
}

#all-note-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
}

.new-note {
    width: 100%;
    height: 10rem;
    background-color: var(--bg-Color);
    border-radius: 0.5rem;
}

/* Notes modal */

#note-modal-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.note-modal-container {
    width: 600px;
    height: 300px;
    background: rgb(40, 40, 117);
    position: fixed;
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn-container {
    display: flex;
}

.close-modal-btn {
    padding: 8px;
    background: var(--logo-Color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
    border-style: none;
    border-radius: 8px;
    font-weight: 5px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.close-modal-btn:hover {
    background-color: rgba(221, 158, 22, 0.775);
}

#modal-content {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 510px;
    width: 100%;
    gap: 24px;
}

.add-note-title {
    color: var(--text-color);
    font-size: 32px;
}

#note-text {
    width: 100%;
    height: 60px;
    background-color: rgb(27, 21, 68);
    color: white;
    border-style: none;
    border-radius: 8px;
    padding: 10px;
}

.modal-action {
    text-align: center;
}

#save-note-btn {
    border-style: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--logo-Color);
    cursor: pointer;
}

#save-note-btn:hover {
    background-color: rgba(221, 158, 22, 0.775);
}

.note-modal-hide {
    display: none;
}